<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Post a Message</a>
    <% messages.forEach(function(message) { %>
    <div>
      <p><%= message.added %></p>
      <p><%= message.user %></p>
      <p><%= message.text %></p>
    </div>
    <% }); %>
  </body>
</html>
